.advantages {
  grid-column: 1 / 3;

  padding: 142px var(--side-offset, 20px) 95px;

  background-color: $color-ghost-white;

  @media (max-width: 1199px) {
    padding: 100px var(--side-offset, 20px);
  }

  @media (max-width: 767px) {
    padding: 70px 0;
  }
}

.advantages__title {
  margin-bottom: 55px;

  @media (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.advantages__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 60px;

  min-height: 307px;
  margin: 0 60px;
  padding: 0;

  list-style: none;

  @media (max-width: 1199px) {
    justify-content: center;
    grid-template-columns: minmax(90px, max-content);
    grid-template-rows: repeat(3, max-content);
    column-gap: 29px;
    row-gap: 50px;

    margin: 0;
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: auto;
    grid-auto-rows: auto;

    min-height: 1090px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 48%;

    width: 340px;
    height: 1px;

    background-color: $color-transparent-red-0-20;

    @media (max-width: 1199px) {
      display: none;
    }
  }

  &::after {
    right: 0;
  }
}

.advantages__item {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
    grid-column: auto;
    grid-row: auto;

    max-width: 100%;
    min-width: 320px;
    width: 100%;
  }

  &--first {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    @media (max-width: 1199px) {
      grid-column: 1 / 3;

      max-width: 301px;
    }

    .advantages__dl {
      max-width: 184px;
    }
  }

  &--second {
    grid-column: 3 / 4;
    grid-row: 1 / 3;

    @media (max-width: 1199px) {
      grid-column: 3 / 5;
      grid-row: 1 / 2;

      max-width: 315px;
    }

    .advantages__dl {
      max-width: 228px;
    }
  }

  &--additional {
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    max-height: 307px;
    padding: 45px 34px 65px;

    background-color: $color-resolution-blue;

    @media (max-width: 1199px) {
      min-width: 442px;
      max-height: 239px;
      padding: 45px 0;

      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }

    @media (max-width: 767px) {
      min-width: 100%;
      max-height: 100%;
    }
  }

  &--third {
    align-self: flex-end;
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @media (max-width: 1199px) {
      grid-column: 1 / 3;
      grid-row: 3 / 4;

      max-width: 301px;
    }

    .advantages__dl {
      max-width: 184px;
    }
  }

  &--fourth {
    align-self: flex-end;
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    @media (max-width: 1199px) {
      grid-column: 3 / 5;
      grid-row: 3 / 4;

      max-width: 315px;
    }

    .advantages__dl {
      max-width: 228px;
    }
  }
}

.advantages__item-wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    align-items: center;

    margin-bottom: 15px;
  }

  &--additional {
    margin-bottom: 35px;

    text-align: center;
  }
}

.advantages__item-number {
  font-weight: 700;
  font-size: 71px;
  line-height: 56.5px;
  color: transparent;

  background-color: $color-default-black;
  background-image: $gradient-red-to-blue-number;
  background-clip: text;

  cursor: default;

  @media (max-width: 1199px) {
    font-size: 58px;
    line-height: 49px;
  }

  &--additional {
    font-size: 74px;
    line-height: 80px;
    color: $color-default-white;
  }
}

.advantages__item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-persian-blue;

  cursor: default;

  &--additional {
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: $color-default-white;

    @media (max-width: 1199px) {
      font-size: 22px;
      line-height: 33px;
    }
  }
}

.advantages__item-content {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-default-white;
  text-align: center;

  cursor: default;

  @media (max-width: 1199px) {
    max-width: 200px;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    max-width: 180px;
  }
}

.advantages__dl {
  margin: 0;

  @media (max-width: 767px) {
    align-self: center;

    text-align: center;
  }
}

.advantages__dt {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: $color-default-black;

  cursor: default;

  @media (max-width: 1199px) {
    margin-bottom: 5px;

    font-size: 20px;
    line-height: 30px;
  }
}

.advantages__dd {
  margin: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 22.4px;
  color: $color-default-black;

  cursor: default;
}
