.btn {
  display: inline-flex;
  justify-content: center;

  padding: 18px 54px;

  font-family: $ff-roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;

  background-color: $color-transparent-0;
  border: 4px solid $color-default-white;
  cursor: pointer;

  transition: opacity $trans-default;
  user-select: none;

  @include hover-focus {
    color: $color-default-black;

    background-color: $color-default-white;
  }

  @media (max-width: 1199px) {
    padding: 18px 30px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  &--secondary {
    color: $color-default-black;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  &--main {
    margin-left: 31px;
  }

  &--promo {
    padding: 21px 54px;

    @media (max-width: 1199px) {
      max-width: 265px;
      padding: 14px 48px;

      font-size: 10px;
      line-height: 11.72px;

      border: 2px solid $color-default-white;
    }
  }

  &--free-class {
    padding: 16px 54px;

    font-size: 14px;
    line-height: 16.41px;

    border: 3px solid $color-default-white;
  }

  &--tabs {
    margin-top: auto;
    padding: 26px 44px;

    font-weight: 700;
    font-size: 12px;
    line-height: 14.06px;
    color: $color-default-black;

    border: 2px solid $color-default-black;

    @include hover-focus {
      color: $color-default-white;

      border: 2px solid transparent;
      background: $gradient-red-to-blue-button-tabs;
      transition: $trans-default;
    }
  }
}
