.coaches {
  grid-column: 1 / 3;

  padding: 66px 0 95px;

  @media (max-width: 1199px) {
    padding: 60px var(--side-offset, 20px) 101px;
  }

  @media (max-width: 767px) {
    padding: 23px var(--side-offset, 20px) 101px;
  }
}

.coaches__wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.coaches__title {
  padding: 0 0 47px var(--side-offset, 20px);

  text-align: left;

  @media (max-width: 1199px) {
    padding: 0 0 30px;

    text-align: center;
    transform: translateX(-2px);
  }

  @media (max-width: 767px) {
    padding: 0 0 41px;
  }
}

.coaches__button-wrapper {
  position: relative;

  max-width: 1280px;
  margin: 0 auto;
}

.coaches__container {
  position: static;

  max-width: 1160px;

  @media (max-width: 1199px) {
    // max-width: 566px;
  }

  @media (max-width: 767px) {
    // max-width: 226px;
  }
}

.coaches__button {
  position: absolute;
  top: 43%;
  right: 98%;

  width: 16px;
  height: 32px;
  padding: 7px 1px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (max-width: 1199px) {
    right: auto;
    left: calc(50% - 340px);
  }

  @media (max-width: 767px) {
    top: 46%;
    left: 0;

    width: 10px;
    height: 19px;
    padding: 0;
  }

  &--right {
    left: 98%;

    @media (max-width: 1199px) {
      left: calc(50% + 322px);
    }

    @media (max-width: 767px) {
      left: auto;
      right: 0;

      width: 10px;
      height: 19px;
      padding: 0;
    }
  }
}

.coaches__button:hover .coaches__icon {
  stroke: $color-black-russian;
}

.coaches__icon {
  stroke: $color-dark-gray;
  transition: 0.2s ease-in-out;

  &--right {
    rotate: 180deg;

    @media (max-width: 767px) {
      width: 10px;
      height: 19px;
    }
  }

  @media (max-width: 767px) {
    width: 10px;
    height: 19px;
  }
}

.coaches__coach {
  aspect-ratio: 260 / 294;
}

.coaches__image-wrapper {
  width: 100%;
}

.coaches__preview {
  position: relative;

  // max-height: 294px;
  width: 100%;
  min-height: 100%;
  padding: 50px 46px 58px 55px;

  transition: {
    property: background-color;
    duration: 0.2s;
    timing-function: ease-in;
  }
  overflow: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 767px) {
    max-height: 274px;
    padding: 47px 33px;
  }
}

.coaches__preview-title {
  z-index: 1;

  color: $color-default-white;
  text-align: center;

  transform: translateY(220px - 30px);
  transition: {
    property: transform;
    duration: 0.3s;
    timing-function: ease-in-out;
  }

  @media (max-width: 767px) {
    transform: translateY(200px - 30px);
  }
}

.coaches__preview-image {
  position: absolute;
  z-index: -1;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  background-color: $color-dark-gray;
}

.coaches__preview-info {
  opacity: 0;

  padding: 0;
  margin: 0;

  list-style: none;

  transform: translateY(180px);
  transition: {
    property: transform, opacity;
    duration: 0.3s, 0.6s;
    timing-function: ease-in-out;
  }
}

.coaches__preview-direction {
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-spindle;
  text-align: center;
}

.coaches__preview-list {
  margin: 27px 0 0 0;
  padding: 0;
}

.coaches__preview-item {
  margin: 16px 0 0 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;

  cursor: default;
}

.coaches__preview:hover,
.coaches__preview:focus-within {
  background-color: $color-transparent-black-0-89;
}

.coaches__preview:hover .coaches__preview-title,
.coaches__preview:focus-within .coaches__preview-title {
  transform: none;
}

.coaches__preview:hover .coaches__preview-info,
.coaches__preview:focus-within .coaches__preview-info {
  opacity: 1;
  transform: none;

  cursor: pointer;
}
