.coaches {
  grid-column: 1 / 3;

  padding: 60px 0 95px;

  @media (max-width: 1199px) {
    padding: 60px var(--side-offset, 20px) 95px;
  }
}

.coaches__wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.coaches__title {
  padding: 0 0 40px var(--side-offset, 20px);

  text-align: left;

  @media (max-width: 1199px) {
    padding: 0 0 30px;

    text-align: center;
  }
}

.coaches__button-wrapper {
  position: relative;

  margin: 0 auto;
}

.coaches__container {
  position: static;

  max-width: 1160px;

  @media (max-width: 1199px) {
    max-width: 566px;
  }

  @media (max-width: 767px) {
    max-width: 226px;
  }
}

.coaches__button {
  position: absolute;
  top: 50%;
  right: calc(50% + 620px);

  background-color: transparent;
  border: none;

  @media (max-width: 1199px) {
    right: auto;
    left: calc(50% - 330px);
  }

  @media (max-width: 767px) {
    left: 2%;

    padding: 0;
  }

  &--right {
    left: calc(50% + 620px);

    @media (max-width: 1199px) {
      left: calc(50% + 330px);
    }

    @media (max-width: 767px) {
      left: auto;
      right: 2%;

      padding: 0;
    }
  }
}

.coaches__icon {
  stroke: $color-dark-gray;

  &--right {
    rotate: 180deg;
  }
}

.coaches__preview {
  position: relative;

  max-height: 294px;
  width: 100%;
  padding: 50px 46px 58px 55px;

  transition: {
    property: background-color;
    duration: 0.2s;
    timing-function: ease-in;
  }
  overflow: hidden;

  @media (max-width: 767px) {
    max-height: 274px;
    padding: 47px 33px;
  }
}

.coaches__preview-title {
  z-index: 1;

  color: $color-default-white;
  text-align: center;

  transform: translateY(220px - 30px);
  transition: {
    property: transform;
    duration: 0.3s;
    timing-function: ease-in-out;
  }

  @media (max-width: 767px) {
    transform: translateY(200px - 30px);
  }
}

.coaches__preview-image-wrapper {
  width: 100%;
}

.coaches__preview-image {
  position: absolute;
  z-index: -1;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.coaches__preview-info {
  opacity: 0;

  padding: 0;
  margin: 0;

  list-style: none;

  transform: translateY(180px);
  transition: {
    property: transform, opacity;
    duration: 0.3s, 0.6s;
    timing-function: ease-in-out;
  }
}

.coaches__preview-direction {
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-spindle;
  text-align: center;
}

.coaches__preview-list {
  margin: 16px 0 0 0;
  padding: 0;
}

.coaches__preview-item {
  margin: 22px 0 0 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;
}

.coaches__preview:hover,
.coaches__preview:focus-within {
  background-color: $color-transparent-black-0-89;
}

.coaches__preview:hover .coaches__preview-title,
.coaches__preview:focus-within .coaches__preview-title {
  transform: none;
}

.coaches__preview:hover .coaches__preview-info,
.coaches__preview:focus-within .coaches__preview-info {
  opacity: 1;
  transform: none;
}
