.contacts {
  grid-column: 2 / 3;

  min-height: 337px;

  padding: 56px var(--side-offset, 20px) 40px 120px;

  border-top: 1px solid $color-light-slate-grey;

  @media (max-width: 1199px) {
    grid-column: 1 / 3;

    min-height: 351px;
    padding: 59px var(--side-offset, 20px) 40px;
  }

  @media (max-width: 767px) {
    min-height: 507px;
    padding: 64px var(--side-offset, 20px) 35px;

    border-top: none;
  }
}

.contacts__title {
  margin-bottom: 37px;

  text-align: left;

  @media (max-width: 1199px) {
    max-width: 474px;
    margin: 0 auto 32px;

    transform: translateX(-14px);
  }

  @media (max-width: 767px) {
    max-width: 100%;

    transform: translateX(0);
  }
}

.contacts-list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  column-gap: 120px;

  margin: 0;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;

    width: 1px;
    height: 102px;

    background-color: $color-light-slate-grey;

    @media (max-width: 1199px) {
      left: 56%;

      height: 129px;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  @media (max-width: 1199px) {
    column-gap: 96px;

    max-width: 474px;
    margin: 0 auto;

    transform: translateX(-14px);
  }

  @media (max-width: 767px) {
    grid-template-columns: 100%;
    max-width: 100%;

    transform: translateX(0);
  }
}

.contacts-layout-wrapper * {
  cursor: default;
}

.contacts-list dt {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $color-default-black;

  @media (max-width: 1199px) {
    font-size: 20px;
    line-height: 34px;
  }
}

.contacts-list dd {
  margin: 0 0 20px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21.33px;
  color: $color-default-black;

  @media (max-width: 1199px) {
    min-width: 218px;

    font-size: 18px;
    line-height: 27.42px;
  }

  @media (max-width: 767px) {
    margin: 0 0 21px 0;
  }
}
