.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 38px var(--side-offset);

  background-color: $color-black-russian;

  @media (max-width: 1199px) {
    min-height: 112px;
  }

  @media (max-width: 767px) {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;

    min-height: 290px;
    padding: 42px var(--side-offset) 45px;
  }
}

.footer__logo {
  margin-right: 25px;

  cursor: default;

  @media (max-width: 767px) {
    position: absolute;
    top: 46px;
    left: 17px;
  }
}

.footer__logo-icon {
  width: 86px;
  height: 17px;

  fill: $color-default-white;

  @media (max-width: 1199px) {
    width: 81px;
    height: 16px;
  }

  @media (max-width: 767px) {
    width: 67px;
    height: 13px;
  }
}

.footer__logo-title {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 26px;
  line-height: 31.2px;
  letter-spacing: 0.02em;
  color: $color-default-white;
  text-transform: uppercase;

  @media (max-width: 1199px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
  }

  @media (max-width: 767px) {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}

.footer__nav {
  display: flex;
  align-self: baseline;

  margin-right: 30px;

  @media (max-width: 1199px) {
    margin-right: 16px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.footer__list {
  // display: flex;
  // flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(5, minmax(12%, max-content));
  column-gap: 40px;
  row-gap: 25px;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: 1199px) {
    column-gap: 30px;
  }

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;


    width: 100%;
    margin-bottom: 33px;
  }
}

.footer__item:first-child {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.footer__link {
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.4px;
  color: $color-default-white;

  &:hover {
    color: $color-spindle;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 18.75px;
  }
}
