.free-class-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 30px;

  max-width: 410px;

  @media (max-width: 1199px) {
    column-gap: 63px;
    row-gap: 28px;

    max-width: 474px;
    margin: 0 auto;

    transform: translateX(-16px);
  }

  @media (max-width: 767px) {
    grid-template-columns: 100%;
    gap: 35px;
  }
}

.free-class-form__name input,
.free-class-form__phone input {
  width: 100%;
  padding: 8px 0;

  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: $color-default-white;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-light-slate-grey;

  &::placeholder {
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    color: $color-default-white;
  }

  @media (max-width: 1199px) {
    padding: 7px 0;
  }
}

.free-class-form__name:hover input,
.free-class-form__phone:hover input {
  &::placeholder {
    color: $color-dark-gray;

    transition: $trans-default;
  }
}

.free-class-form__button {
  grid-column: 1 / 3;

  @media (max-width: 767px) {
    grid-column: auto;
  }
}

.free-class-form__button button {
  width: 100%;

  @media (max-width: 1199px) {
    padding: 16px 54px;
  }
}
