.free-class {
  grid-column: 1 / 2;
  min-height: 337px;

  padding: 56px 0 66px var(--side-offset, 20px);

  background-color: $color-default-black;

  @media (max-width: 1199px) {
    grid-column: 1 / 3;

    min-height: 324px;
    padding: 61px var(--side-offset, 20px) 64px;
  }

  @media (max-width: 767px) {
    min-height: 386px;
  }
}

.free-class__title {
  max-width: 410px;

  @media (max-width: 1199px) {
    max-width: 474px;
    margin: 0 auto 28px;

    transform: translateX(-16px);
  }

  @media (max-width: 767px) {
    max-width: 100%;
    margin: 0 auto 30px;
  }
}
