.gym {
  position: relative;
  display: flex;
  column-gap: 85px;
  grid-column: 1 / 3;

  padding: 120px var(--side-offset, 20px) 235px;

  @media (max-width: 1199px) {
    flex-direction: column;

    padding: 100px var(--side-offset, 20px) 183px;
  }

  @media (max-width: 767px) {
    padding: 64px 0 64px;
  }
}

.gym__container {
  padding-left: 61px;

  @media (max-width: 1199px) {
    padding: 0;
  }

  @media (max-width: 767px) {
    padding: 0 var(--side-offset, 20px);
  }
}

.gym__title {
  margin: 41px 0 9px 0;

  @media (max-width: 1199px) {
    margin: 0;
  }

  @media (max-width: 767px) {
    margin: 0 0 5px 0;
  }
}

.gym__subtitle {
  margin: 0 0 38px 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  cursor: default;

  @media (max-width: 1199px) {
    margin: 0 0 34px 0;

    text-align: center;
  }

  @media (max-width: 767px) {
    margin: 0 0 23px 0;

    text-align: left;
  }
}

.gym__text-content {
  margin: 0 0 8px 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  cursor: default;

  @media (max-width: 1199px) {
    max-width: 510px;
    margin: 0 auto 44px auto;

    text-align: center;

    &--additional {
      display: none;
    }
  }

  @media (max-width: 767px) {
    max-width: 100%;
    margin: 0 0 34px 0;

    text-align: left;
  }

  &--additional {
    margin: 0;
  }
}

.gym__image-wrapper {
  min-width: 660px;
  min-height: 401px;

  @media (max-width: 1199px) {
    min-width: 678px;
    min-height: 345px;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    min-width: 320px;
    min-height: 313px;
    width: 100%;
    margin-bottom: 40px;
  }
}

.gym__image {
  background-color: $color-dark-gray;

  @media (max-width: 767px) {
    width: 100%;

    object-fit: cover;
  }
}

.gym__video-wrapper {
  position: absolute;
  top: 408px;
  left: 50%;

  width: 364px;
  height: 228px;

  translate: -144px;

  @media (max-width: 1199px) {
    position: absolute;
    top: 59%;
    left: 50%;
    display: block;

    width: 266px;
    height: 167px;

    transform: translate(-50%, 50%);
    translate: 0;
  }

  @media (max-width: 767px) {
    position: static;
    display: contents;

    width: 100%;

    transform: none;
  }
}
