.header {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 30px var(--side-offset, 20px) 0;

  @media (max-width: 1199px) {
    padding-top: 35px;
  }

  @media (max-width: 767px) {
    padding-top: 15px;
  }
}

.header__logo {
  cursor: default;

  @media (max-width: 1199px) {
    display: flex;
    align-self: baseline;
  }
}

.header__logo-title {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 36px;
  line-height: 43.2px;
  letter-spacing: 0.02em;
  color: $color-default-white;

  @media (max-width: 1199px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
  }

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.header__phone-link {
  margin-bottom: 8px;

  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 26px;
  line-height: 31.2px;
  letter-spacing: 0.03em;
  color: $color-default-white;

  transition: $trans-default;

  @media (max-width: 1199px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0.02em;
  }

  @media (max-width: 767px) {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  &:hover {
    color: $color-black-russian;
  }
}
