.heading {
  margin: 0;
  padding: 0;

  &--h1 {
    margin-bottom: 49px;

    font-family: $ff-alumni;
    font-weight: 700;
    font-size: 92px;
    line-height: 110.4px;
    letter-spacing: 0.05em;
    color: $color-default-white;
    text-transform: uppercase;
    text-align: right;

    cursor: default;

    @media (max-width: 1199px) {
      margin-bottom: 40px;

      font-size: 72px;
      line-height: 86.4px;
      letter-spacing: 0.05em;
      text-transform: none;
    }

    @media (max-width: 767px) {
      margin-bottom: 35px;
    }
  }

  &--h2 {
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65.8px;
    letter-spacing: 0.03em;
    text-align: center;

    cursor: default;

    @media (max-width: 1199px) {
      font-size: 42px;
      line-height: 50.4px;

      transform: translateX(-8px);
    }

    @media (max-width: 767px) {
      font-size: 32px;
      line-height: 38.4px;
    }
  }

  &--h2-gym {
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: 0.03em;
    text-align: left;

    cursor: default;

    @media (max-width: 1199px) {
      font-size: 42px;
      line-height: 50.4px;
      text-align: center;

      transform: translateX(-8px);
    }

    @media (max-width: 767px) {
      font-size: 32px;
      line-height: 38.4px;
      text-align: left;
    }
  }

  &--h2-promo {
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 82px;
    line-height: 78.72px;
    letter-spacing: 0.03em;
    color: $color-default-white;
    text-transform: uppercase;
    text-align: center;

    cursor: default;

    @media (max-width: 1199px) {
      font-size: 48px;
      line-height: 46.08px;
    }
  }

  &--h2-free-class {
    margin-bottom: 11px;

    font-family: $ff-alumni;
    font-weight: 800;
    font-size: 54px;
    line-height: 84px;
    letter-spacing: 0.03em;
    color: $color-default-white;

    cursor: default;

    @media (max-width: 1199px) {
      font-weight: 700;
      font-size: 42px;
      line-height: 50.4px;
    }

    @media (max-width: 767px) {
      font-size: 32px;
      line-height: 38.4px;
    }
  }

  &--h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    color: $color-default-white;

    cursor: default;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &--h3-secondary {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: $color-resolution-blue;

    cursor: default;
  }

  &--h3-coaches {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: $color-default-white;
    text-align: center;
  }
}
