.heading {
  margin: 0;
  padding: 0;

  &--h1 {
    margin-bottom: 55px;

    font-family: $ff-alumni;
    font-weight: 700;
    font-size: 92px;
    line-height: 110.4px;
    letter-spacing: 0.05em;
    color: $color-default-white;
    text-transform: uppercase;
    text-align: right;

    @media (max-width: 1199px) {
      font-size: 72px;
      line-height: 86.4px;
      letter-spacing: 0.02em;
      text-transform: none;
    }

    @media (max-width: 767px) {
      margin-bottom: 35px;
    }
  }
}
