.main {
  grid-column: 1 / 3;

  padding: 51px var(--side-offset);

  background: $gradient-red-to-blue-desktop;
  background-color: #b80027;

  @media (max-width: 1199px) {
    padding-top: 82px;
    padding-bottom: 82px;

    background: $gradient-red-to-blue-tablet;
  }

  @media (max-width: 767px) {
    padding-top: 115px;
    padding-bottom: 78px;

    background: $gradient-red-to-blue-mobile;
  }
}

.main__wrapper {
  display: grid;
  grid-template-columns: 113px 265px 564px;
  grid-template-rows: max-content 103px;
  justify-content: flex-start;

  // max-width: 941px;
  padding-left: 19px;

  @media (max-width: 1199px) {
    grid-template-columns: 113px 210px 354px;
    grid-template-rows: max-content 81px;

    padding-left: 0;
  }

  @media (max-width: 767px) {
    display: grid;
    justify-content: center;
    // grid-template-columns: 80px 35px 175px;
    grid-template-columns: 27.5% 12.15% 60.35%;
    grid-template-rows: max-content max-content;
  }
}

.main__list {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  grid-column: 1 / 2;
  grid-row: 1;

  width: 113px;
  margin: 0 0 91px 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;
  text-align: right;

  list-style: none;

  @media (max-width: 1199px) {
    margin: 0 0 60px 0;
  }

  @media (max-width: 767px) {
    justify-self: center;
    grid-column: 1 / 3;
  }
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column: 2 / 3;
  grid-row: 1;

  max-width: 265px;

  @media (max-width: 1199px) {
    max-width: 210px;
  }

  @media (max-width: 767px) {
    grid-column: 2 / 4;
  }
}

.main__city {
  display: block;

  margin: 0 50px 20px 0;

  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 0.03em;
  color: $color-default-white;
  text-transform: uppercase;
  text-align: right;

  @media (max-width: 1199px) {
    margin: 0 0 10px 0;

    font-size: 34px;
    line-height: 40.8px;
  }

  @media (max-width: 767px) {
    margin: 0 0 15px 0;

    font-size: 28px;
    line-height: 33.6px;
  }
}

.main__link {
  justify-content: center;
  align-self: flex-end;
  grid-column: 2 / 3;
  grid-row: 2;

  min-width: 234px;
  margin-bottom: 45px;

  @media (max-width: 1199px) {
    min-width: 187px;
    margin-bottom: 23px;
  }

  @media (max-width: 767px) {
    grid-column: 1 / 4;

    min-width: 100%;
    margin-bottom: 0;
  }
}

.main__image-wrapper {
  grid-column: 3 / 4;
  grid-row: 1 / 3;

  min-width: 500px;
  min-height: 556px;
  margin-left: 64px;

  @media (max-width: 1199px) {
    min-width: 324px;
    min-height: 390px;
    margin-left: 30px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.main__image {
  background-color: $color-resolution-blue;
}
