.membership {
  position: relative;
  grid-column: 1 / 3;

  min-height: 851px;
  padding: 120px var(--side-offset, 20px);

  background-color: $color-ghost-white;

  @media (max-width: $vp-1199) {
    padding: 107px var(--side-offset, 20px);
  }
}

.membership__bg-image {
  position: absolute;
  right: 0;
  bottom: -151px;

  width: 287px;
  height: 494px;


  @include adaptive-bg("../img/backgrounds/membership-weights-desktop");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right 0;

  @media (max-width: $vp-1199) {
    right: 0;
    bottom: -122px;

    width: 347px;
    height: 444px;

    @include adaptive-bg("../img/backgrounds/membership-weights-tablet");
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

.membership__title {
  margin-bottom: 8px;

  @media (max-width: 1199px) {
    margin-bottom: 0;
  }
}
