.promotion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr 1fr;
  column-gap: 40px;
  row-gap: 34px;
  grid-column: 1 / 3;

  padding: 140px var(--side-offset, 20px) 60px;

  @media (max-width: 1199px) {
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 30px;
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);

    padding: 70px var(--side-offset, 20px) 35px;
  }
}

.promotion__title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  @media (max-width: 767px) {
    grid-column: auto;
    grid-row: auto;
  }
}

.promotion__container {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 2 / 4;

  @media (max-width: 1199px) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    grid-column: auto;
    grid-row: auto;
  }
}

.promotion__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 50%;
  padding: 45px;

  background-color: $color-torch-red;

  @media (max-width: 1199px) {
    width: 41%;
  }

  @media (max-width: 767px) {
    align-items: center;

    min-height: 299px;
    width: 100%;
  }
}

.promotion__image-wrapper {
  width: 50%;

  @media (max-width: 1199px) {
    min-width: 399px;
    min-height: 462px;
    width: 59%;
  }

  @media (max-width: 767px) {
    min-width: 100%;
    min-height: auto;
    width: 100%;
  }
}

.promotion__period {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: $color-default-white;

  cursor: default;
}

.promotion__price {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 70px;
  line-height: 86px;
  color: $color-default-white;

  cursor: default;
}

.promotion__link {
  margin-top: auto;
  padding-bottom: 2px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;

  border-bottom: 2px solid $color-default-white;
  transition: $trans-default;

  &--secondary {
    font-size: 12px;
    line-height: 14.06px;
    color: $color-resolution-blue;

    border-bottom: 2px solid $color-resolution-blue;
  }

  &:hover {
    color: $color-default-black;

    border-bottom: 2px solid $color-default-black;
  }
}

.promotion__link--secondary:hover {
  color: $color-default-white;

  background-color: $color-chambray;
  border-bottom: 2px solid $color-chambray;
}

.promotion__image {
  width: 100%;

  object-fit: cover;
  background-color: $color-persian-blue;
}

.promotion__layout-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 2 / 3;

  padding: 35px;

  border: 7px solid $color-resolution-blue;
  border-image: $gradient-red-to-blue-border;
  border-image-slice: 1;

  @media (max-width: 1199px) {
    grid-column: auto;
    grid-row: 3 / 4;

    min-height: 211px;
  }

  @media (max-width: 767px) {
    align-items: center;
    grid-column: auto;
    grid-row: auto;

    width: 100%;
  }
}

.promotion__text-content {
  margin: 10px 0 0 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: $color-resolution-blue;

  cursor: default;

  @media (max-width: 767px) {
    text-align: center;
  }
}
