.promo {
  display: flex;
  grid-column: 1 / 3;

  padding: 120px var(--side-offset, 20px) 40px;

  @media (max-width: 1199px) {
    padding: 97px var(--side-offset, 20px) 40px;
  }

  @media (max-width: 767px) {
    flex-direction: column;

    padding: 70px var(--side-offset, 20px) 40px;
  }
}

.promo__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 292px;
  width: 43.1%;
  padding: 85px 78px;

  background-color: $color-torch-red;

  @media (max-width: 1199px) {
    justify-content: center;

    width: 43%;
    padding: 51px 45px 48px;
  }

  @media (max-width: 767px) {
    min-height: 292px;
    width: 100%;
    padding: 50px 44px 49px;
  }
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;

  min-width: 343px;

  @media (max-width: 1199px) {
    max-width: 265px;
    min-width: 202px;
  }

  @media (max-width: 767px) {
    column-gap: 10px;

    max-width: 465px;
    min-width: 202px;
    width: auto;
  }
}

.promo__title {
  max-width: 201px;

  @media (max-width: 1199px) {
    max-width: 117px;
  }

  @media (max-width: 767px) {
    max-width: 465px;
    min-width: auto;
    width: auto;
  }
}

.promo__list {
  position: relative;

  margin: 0;

  @media (max-width: 1199px) {
    min-width: 60px;
  }

  @media (max-width: 767px) {
    max-width: 160px;
    min-width: 60px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;

    width: 64px;
    height: 1px;
    background-color: $color-default-white;

    @media (max-width: 1199px) {
      top: 15px;
      left: 0;

      width: 46px;
    }
  }

  &::after {
    top: 118px;

    width: 88px;

    @media (max-width: 1199px) {
      top: 65px;

      width: 56px;
    }

    @media (max-width: 767px) {
      top: 65px;
    }
  }
}

.promo__item {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;

  cursor: default;

  @media (max-width: 1199px) {
    font-size: 12px;
    line-height: 13px;
  }

  &--bold {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    @media (max-width: 1199px) {
      margin-left: 3px;

      font-size: 24px;
      line-height: 36px;
    }
  }

  &--smaller {
    position: absolute;
    top: 35px;
    left: 30px;

    max-width: 40px;

    font-size: 14px;
    line-height: 21px;

    @media (max-width: 1199px) {
      top: 16px;
      left: 18px;

      font-size: 10px;
      line-height: 15px;
    }
  }
}

.promo__text {
  min-width: 343px;
  margin: 0 0 37px 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;

  cursor: default;

  @media (max-width: 1199px) {
    max-width: 265px;
    min-width: auto;
    margin: 0 0 27px 0;

    font-size: 12px;
    line-height: 18px;
  }
}

.promo__link {
  min-width: 343px;

  @media (max-width: 1199px) {
    min-width: auto;
  }
}

.promo__image-wrapper {
  width: 56.9%;

  @media (max-width: 1199px) {
    width: 57%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.promo__image {
  min-width: 100%;
  height: 100%;

  object-fit: cover;
  background-color: $color-resolution-blue;
}
