.promo {
  display: flex;
  grid-column: 1 / 3;

  padding: 120px var(--side-offset, 20px) 40px;

  @media (max-width: 1199px) {
    padding: 97px var(--side-offset, 20px) 40px;
  }

  @media (max-width: 767px) {
    flex-direction: column;

    padding: 70px var(--side-offset, 20px) 40px;
  }
}

.promo__container {
  display: grid;
  grid-template-columns: 71% 29%;
  grid-template-rows: repeat(4, min-content);

  min-height: 292px;
  width: 43.1%;
  padding: 85px 78px;

  background-color: $color-torch-red;

  @media (max-width: 1199px) {
    grid-template-columns: 69% 31%;
    justify-content: center;

    width: 43%;
    padding: 52px 40px 49px;
  }

  @media (max-width: 767px) {
    min-height: 292px;
    width: 100%;
    padding: 50px 44px 49px;
  }
}

.promo__title {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  margin: 0 40px 0 0;

  @media (max-width: 1199px) {
    margin: -2px 0 0 12px;

    text-align: start;
  }

  @media (max-width: 767px) {
    max-width: 465px;
    min-width: auto;
    width: auto;
    margin: 0 13px 0 7px;


  }
}

.promo__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  grid-column: 2 / 3;
  grid-row: 1 / 3;

  margin: 0;

  @media (max-width: 1199px) {
    margin: 0 6px 0 0;
  }

  @media (max-width: 767px) {
    margin: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 30px;

    width: 64px;
    height: 1px;
    background-color: $color-default-white;

    @media (max-width: 1199px) {
      top: 14px;
      left: 0;

      width: 46px;
    }
  }

  &::after {
    top: 118px;

    width: 88px;

    @media (max-width: 1199px) {
      top: 67px;

      width: 56px;
    }

    @media (max-width: 767px) {
      top: 69px;
    }
  }
}

.promo__item {
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;

  cursor: default;

  @media (max-width: 1199px) {
    font-size: 12px;
    line-height: 13px;
  }

  &--bold {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    @media (max-width: 1199px) {
      margin-left: 3px;

      font-size: 24px;
      line-height: 36px;
    }
  }

  &--smaller {
    position: absolute;
    top: 35px;
    left: 30px;

    max-width: 40px;

    font-size: 14px;
    line-height: 21px;

    @media (max-width: 1199px) {
      top: 16px;
      left: 18px;

      font-size: 10px;
      line-height: 15px;
    }
  }

  &--line-height {
    @media (max-width: 767px) {
      line-height: 16px;
    }
  }

  &--last {
    @media (max-width: 1199px) {
      margin-top: 4px;
    }

    @media (max-width: 767px) {
      margin-top: 3px;
    }
  }
}

.promo__text {
  grid-column: 1 / 3;
  grid-row: 3 / 4;

  min-width: 343px;
  margin: 10px 0 49px 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;

  cursor: default;

  @media (max-width: 1199px) {
    max-width: 265px;
    min-width: auto;
    margin: 0 15px 27px 5px;

    font-size: 12px;
    line-height: 18px;
  }

  @media (max-width: 767px) {
    margin: -1px 15px 29px 0;
  }
}

.promo__link {
  grid-column: 1 / 3;
  grid-row: 4 / 5;

  min-width: 343px;

  @media (max-width: 1199px) {
    min-width: 202px;
    margin-top: auto;
  }
}

.promo__image-wrapper {
  width: 56.9%;

  @media (max-width: 1199px) {
    width: 57%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.promo__image {
  min-width: 100%;
  height: 100%;

  object-fit: cover;
  background-color: $color-resolution-blue;
}
