.reviews {
  grid-column: 1 / 3;

  padding: 57px 0 120px;

  @media (max-width: 1199px) {
    padding: 50px 0 100px;
  }

  @media (max-width: 767px) {
    padding: 35px var(--side-offset, 20px) 70px;
  }
}

.reviews__title {
  margin-bottom: 35px;
}

.reviews__button-wrapper {
  position: relative;

  width: 680px;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.reviews__container {
  position: static;

  min-height: 242px;
  max-width: 560px;
  padding: 56px 62px 56px;

  background-color: $color-resolution-blue;

  @media (max-width: 1199px) {
    max-width: 566px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
    width: 78%;
    padding: 40px 25px;
  }
}

.reviews__button {
  position: absolute;
  top: 41%;
  left: 0;

  width: 16px;
  height: 32px;
  padding: 7px 1px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (max-width: 767px) {
    padding: 0;
  }

  &--right {
    left: 97%;

    @media (max-width: 767px) {
      top: 47.5%;
      left: 95%;

      padding: 0;
    }
  }
}

.reviews__icon {
  stroke: $color-dark-gray;

  &--right {
    rotate: 180deg;
  }
}

.reviews__review {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-auto-rows: min-content;
  column-gap: 28px;

  @media (max-width: 767px) {
    grid-template-columns: 68px 1fr;
    grid-auto-rows: min-content;
    column-gap: 15px;
    row-gap: 20px;
  }
}

.reviews__image-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  margin-top: 7px;

  @media (max-width: 767px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.reviews__image {
  background-color: transparent;
}

.reviews__review p,
.reviews__author {
  margin: 0 0 11px 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;

  @media (max-width: 767px) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    line-height: 26px;
  }
}

.reviews__review blockquote,
.reviews__author-review {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: $color-default-white;

  @media (max-width: 767px) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    text-align: center;
  }
}
