.reviews {
  grid-column: 1 / 3;

  padding: 57px 0 120px;

  @media (max-width: 1199px) {
    padding: 32px 0 100px;
  }

  @media (max-width: 767px) {
    padding: 28px var(--side-offset, 20px) 70px;
  }
}

.reviews__title {
  margin-bottom: 35px;

  @media (max-width: 1199px) {
    margin-bottom: 39px;

    transform: translateX(-3px);
  }

  @media (max-width: 767px) {
    margin-bottom: 42px;

    transform: translateX(-2px);
  }
}

.reviews__button-wrapper {
  position: relative;

  width: 680px;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.reviews__container {
  position: static;

  min-height: 242px;
  max-width: 560px;
  padding: 56px 62px 56px;

  background-color: $color-resolution-blue;

  @media (max-width: 1199px) {
    max-width: 566px;
    padding: 56px 64px 56px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
    min-height: 335px;
    width: 78%;
    padding: 34px 25px 28px;
  }
}

.reviews__button {
  position: absolute;
  top: 100px;
  left: 0;

  width: 16px;
  height: 32px;
  padding: 7px 1px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (max-width: 767px) {
    top: 153px;

    width: 10px;
    height: 19px;
    padding: 0;
  }

  &--right {
    left: 97%;

    @media (max-width: 767px) {
      top: 153px;
      left: 97%;

      width: 10px;
      height: 19px;
      padding: 0;
    }
  }
}

.reviews__button:hover .reviews__icon {
  stroke: $color-black-russian;
}

.reviews__icon {
  stroke: $color-dark-gray;
  transition: 0.2s ease-in-out;

  @media (max-width: 767px) {
    width: 10px;
    height: 19px;
  }

  &--right {
    rotate: 180deg;

    @media (max-width: 767px) {
      width: 10px;
      height: 19px;
    }
  }
}

.reviews__review {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-auto-rows: min-content;
  column-gap: 28px;

  @media (max-width: 767px) {
    grid-template-columns: 84px 1fr;
    grid-auto-rows: min-content;
    column-gap: 15px;
    row-gap: 15px;
  }
}

.reviews__image-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  margin-top: 7px;

  @media (max-width: 767px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    margin: 7px 0 0 auto;
  }
}

.reviews__image {
  background-color: transparent;
}

.reviews__review p,
.reviews__author {
  margin: 0 0 11px 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;

  @media (max-width: 767px) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    margin: auto 0;

    line-height: 26px;
  }
}

.reviews__review blockquote,
.reviews__author-review {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: $color-default-white;

  @media (max-width: 767px) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    text-align: center;
  }
}
