.reviews {
  grid-column: 1 / 3;

  padding: 55px 0 120px;

  @media (max-width: 1199px) {
    padding: 50px 0 100px;
  }
}

// .reviews__wrapper {

// }

.reviews__title {
  margin-bottom: 35px;

  // @media (max-width: 1199px) {

  // }
}

.reviews__button-wrapper {
  position: relative;

  width: 680px;
  margin: 0 auto;
}

.reviews__container {
  position: static;

  min-height: 242px;
  max-width: 560px;
  padding: 62px;

  background-color: $color-resolution-blue;

  @media (max-width: 1199px) {
    max-width: 566px;
  }
}

.reviews__button {
  position: absolute;
  top: 48%;
  left: 0;

  background-color: transparent;
  border: none;

  &--right {
    top: 45%;
    left: 96%;
  }
}

.reviews__icon {
  stroke: $color-dark-gray;

  &--right {
    rotate: 180deg;
  }
}

.reviews__review {
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 28px;
}

.reviews__review-wrapper {
  display: flex;
  flex-direction: column;
}

.reviews__review p,
.reviews__author {
  margin: 0 0 10px 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;
}

.reviews__review blockquote,
.reviews__author-review {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: $color-default-white;
}
