.tabs {
  display: flex;
  flex-direction: column;
}

.tabs__nav {
  display: flex;
  justify-content: space-between;
  column-gap: 35px;

  max-width: 360px;
  margin: 0 auto 39px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.tabs__button {
  background-color: transparent;

  border: none;
}

.tabs__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: 1199px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}

.tabs__item {
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: 360px;
  min-height: 448px;
  padding: 68px 67px;

  border: 7px solid transparent;
  background-color: $color-default-white;

  transition: 0.5s;

  &:hover {
    border-image: $gradient-red-to-blue-tabs-border;
    border-image-slice: 1;
  }

  @media (max-width: 1199px) {
    justify-self: center;

    max-width: 442px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.tabs__description {
  display: block;
  padding-bottom: 15px;

  font-weight: 700;
  font-size: 26px;
  line-height: 28.6px;
  text-align: center;
}

.tabs__term {
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.tabs__price {
  display: flex;
  column-gap: 14px;

  width: min-content;
  margin: 0 auto;
  transform: translate(0, 100%);

  font-weight: 700;
  font-size: 60px;
  line-height: 66px;
  color: $color-egyptian-blue;
}

.tabs__rouble {
  display: block;

  font-weight: 700;
  font-size: 60px;
  line-height: 66px;
  color: $color-default-black;
}
