.tabs {
  display: flex;
  flex-direction: column;
}

.tabs__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 35px;

  max-width: 360px;
  margin: 0 auto 40px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  @media (max-width: 767px) {
    max-width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 47.5px;
    left: 10px;

    width: 341px;
    height: 1px;

    background-color: $color-transparent-grey-0-20;
  }
}

.tabs__button {
  padding: 12px 0;

  color: $color-transparent-black-0-50;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;

  transition: 0.2s ease-in-out;
  user-select: none;

  &--is-active {
    color: $color-default-black;
    border-bottom: 2px solid $color-crimson;
  }

  &:hover {
    color: $color-persian-blue;

    border-bottom: 2px solid $color-crimson;
  }
}

.tabs__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: 1199px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}

.tabs__item {
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: 360px;
  min-height: 446px;
  padding: 58px 67px 57px;

  border: 7px solid transparent;
  background-color: $color-default-white;

  transition: 0.5s;

  &:hover {
    border-image: $gradient-red-to-blue-border;
    border-image-slice: 1;
  }

  @media (max-width: 1199px) {
    justify-self: center;

    max-width: 442px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.tabs__description {
  display: block;
  padding-bottom: 8px;

  font-weight: 700;
  font-size: 26px;
  line-height: 28.6px;
  text-align: center;

  cursor: default;
}

.tabs__term {
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  cursor: default;
}

.tabs__price {
  position: relative;
  display: flex;
  column-gap: 11px;

  width: min-content;
  margin: 13px auto 0;
  transform: translate(0, 100%);

  font-weight: 700;
  font-size: 60px;
  line-height: 66px;
  color: $color-egyptian-blue;

  cursor: default;

  &::before {
    content: attr(data-value);
    position: absolute;
    top: -37px;
    left: -17px;
    z-index: -1;

    transform: translate(0, -5%);

    font-weight: 700;
    font-size: 100px;
    line-height: 110px;
    color: $color-transparent-grey-0-47;
  }
}

.tabs__rouble {
  display: block;

  font-weight: 700;
  font-size: 60px;
  line-height: 66px;
  color: $color-default-black;
}
