.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: $color-default-black;
}

.video_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__image {
  width: 100%;
}

.video__button {
  position: absolute;
  top: 50px;
  left: 50%;
  display: none;

  width: 72px;
  height: 72px;
  transform: translate(-50%, 50%);

  background: $gradient-red-to-blue-button;
  border-radius: 50%;
  border: none;

  cursor: pointer;

  @media (max-width: 1199px) {
    width: 52px;
    height: 52px;
    transform: translate(-50%, 25%);
  }

  @media (max-width: 767px) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.video__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 17px;
  height: 17px;

  clip-path: polygon(25% 90%, 25% 10%, 100% 50%);
  background-color: $color-default-white;
}

.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
}
