// Colors
// ---------------------------------

// Default

$color-default-black:               #102654;
$color-default-white:               #ffffff;

// Project palette

$color-chambray:                    #495a7d;
$color-persian-blue:                #2e35ac;
$color-egyptian-blue:               #103aae;
$color-resolution-blue:             #1c3374;
$color-torch-red:                   #ed0233;
$color-crimson:                     #d10a42;
$color-venetian-red:                #b80027;
$color-ghost-white:                 #f8f9fc;
$color-spindle:                     #b6bdcc;
$color-dark-gray:                   #afafaf;
$color-whisper:                     #e8e8e8;
$color-light-slate-grey:            #74819c;
$color-black-russian:               #030a1a;

// Transparent

$color-transparent-0:               rgba(255, 255, 255, 0);
$color-transparent-black-0-89:      rgba(16, 38, 84, 0.89);
$color-transparent-red-0-20:        rgba(209, 10, 66, 0.2);
$color-transparent-grey-0-20:       rgba(120, 120, 120, 0.2);


// Gradient

$gradient-red-to-blue-desktop:      conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
$gradient-red-to-blue-tablet:       conic-gradient(from 139.4deg at 20.7% 35.74%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
$gradient-red-to-blue-mobile:       conic-gradient(from 171.43deg at 35.31% 34.22%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
$gradient-red-to-blue-button:       linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
$gradient-red-to-blue-button-tabs:  linear-gradient(90deg, #d10a42 0%, #0041ca 100%);
$gradient-red-to-blue-number:       linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
$gradient-red-to-blue-border:       linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);


// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-alumni:                         "Alumni Sans", "Arial", sans-serif;
$ff-roboto:                         "Roboto Condensed", "Arial", sans-serif;
$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-767:                            767px;
$vp-768:                            768px;
$vp-1023:                           1023px;
$vp-1024:                           1024px;
$vp-1199:                           1199px;
$vp-1200:                           1200px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;
$offset-side:                       1160px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
